 <!-- About Section -->
    <section class="success" id="about">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Hi! I’m a technology consultant living in Brighton, UK. I am interested in the design and programming of electronics for automated products, installations and interactive experiences. I can build product prototypes or one-offs, and tie together different sensor and interaction technologies for unique events and applications.</p>
                </div>
                <div class="col-lg-4">
                    <p> I have extensive experience designing electronics and hardware for sensor and feedback applications with PC interfaces written in Python, C++ and Java, or stand-alone automated modules with microcontroller-processing using a range of chips (PIC, dsPIC, ATmega, Arduino), and communication protocols such as SPI, I2C, Bluetooth, and NFC/RFID.</p>
                </div>
                <div class="col-lg-4">
                    <p>I also work in close collaboration with
                    education groups and artists to combine
                    teaching in technology, science,
                    craft and art. I work with groups such as
                    <a href="http://exploringsenses.co.uk">Exploring Senses </a> to provide workshops at
                    science and maker faires, and I teach integration
                    of technology into installations at
                    the <a href="http://arts.brighton.ac.uk/study/media-arts/digital-media-arts-lighthouse-ma?SQ_DESIGN_NAME=printer-friendly">Digital
                    Media Arts </a> masters course at the University of Brighton.</p>
                </div>
            </div>
        </div>
    </section>
